.site {
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: $font-primary;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"],
textarea:not(.submit-btn) {
     -webkit-appearance: none;
     border-radius: 0;
}

h1 {
    font-size: 4.5em;
    font-weight: 400;
    @media screen and (max-width: 500px){
        font-size: 3em;
    }
}

h2 {
    font-weight: 400;
}

h3 {
    font-size: 3.75em;
    font-weight: 400;
    @media screen and (max-width: 500px){
        font-size: 2.5em;
    }
}

p {
    letter-spacing: 1px;
    font-weight: 400;
}

.p-primary {
    font-size: 1.125em;
}

.p-secondary {
    font-size: 1em;
}

.btn {
    padding: 1em;
    border-radius: 2em !important;
    outline: none;
    border: none;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: $font-primary;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-appearance: none;
}

#mobileMenu {
    width: 100%;
    height: 100vh;
    background-color: rgba(#000, $alpha: .8);
    position: fixed;
    z-index: 110;
    display: none;

    svg {
        position: absolute;
        top: 1em;
        right: 1em;
        width: 3em;
        height: 3em;
        cursor: pointer;
        fill: $color-secondary;
    }
    
    #menu-primary {
        position: absolute;
        top: 3em;
        padding: 0;
        width: 80%;
        left: 10%;
        text-align: center;
        list-style: none;

        li {
            margin: 1em 0;
            a {
                text-decoration: none;
                color: $color-secondary;
                font-family: $font-primary;
                font-size: 2em;
                transition: all .3s ease;

                &:hover {
                    color: darken($color-secondary, 20%);
                }
            }
        }
    }
}